@import '../../assets/styles/vars';

.header {
  align-items: center;
  background: $main-background;
  color: $white;
  display: flex;
  transition: background-color 0.2s ease 0s;

  &.search-form {
    position: relative;
    margin-right: 10px;
    font-size: 16px;

    input {
      background-color: $dark-background;
      border-radius: 2px;
      border: none;
      color: $green;
      font-size: 16px;
      font-weight: bold;
      outline-color: $green;
      padding: 10px 20px 10px 10px;
      transition: all 120ms ease-in-out 0s;
      width: 250px;
    }

    img {
      cursor: pointer;
      position: absolute;
      right: 10px;
      width: 19px;
    }
  }

  a {
    display: flex;
    margin: 10px auto 10px 20px;
  }

  &__logo {
    display: block;
    max-height: 40px;
  }

  &__auth-buttons {
    display: flex;
    margin-right: 30px;
    align-items: stretch;

    & > .button {
      border: 2px solid $black;
      color: $black;
      cursor: pointer;
      font-family: $theme-font;
      font-weight: 600;
      margin-left: 10px;
      padding: 0.6rem 1.2rem;

      &:hover {
        background-color: $light-background;
      }

      &--transparent {
        border: 2px solid $green;
        color: $black;
        cursor: pointer;
        font-family: $theme-font;
        font-weight: 600;
        margin-left: 10px;
        padding: 0.6rem 1.2rem;

        &:hover {
          border-color: $black;
          background-color: $light-background;
        }
      }
    }
  }

  &__toggle-night-mode {
    color: $dark-green;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    overflow: hidden;
    cursor: pointer;
  }
}
