@import '../../assets/styles/vars';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 24px;
  font-family: $theme-font;
  color: $grey;
}

h1,
h3 {
  letter-spacing: 0px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.4;
}

small {
  font-size: 80%;
}

a {
  text-decoration: none;
  transition: color 200ms ease 0s;
  outline: none;
  background-color: transparent;
}

button {
  outline: none;
}

input {
  font-family: inherit;
  font-size: 100%;
  font: 400 13.3333px Arial;
  line-height: 1.15;
  margin: 0px;
  overflow: visible;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.header-layout {
  position: sticky;
  top: 0;
  z-index: 5;
}
