@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

//COLORS
$green: #0f0;
$light-green: #62ff86;
$dark-green: #003b00;
$white: #fff;
$grey: #3c3c3b;
$black: #212428;
$white2: #f6f7f9;

//BACKGROUNDS
$main-background: $green;
$light-background: $light-green;
$dark-background: $dark-green;
$white-background: $white2;

//THEMES
$theme-font: 'IBM Plex Mono', monospace;
