@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

//COLORS
$green: #0f0;
$light-green: #62ff86;
$dark-green: #003b00;
$white: #fff;
$black: #212428;

//BACKGROUNDS
$main-background: $green;
$light-background: $light-green;
$dark-background: $dark-green;

//THEMES
$theme-font: 'IBM Plex Mono', monospace;
